{% extends 'base.html.twig' %}
{% block link %} <link rel="stylesheet" href="{{ asset('/css/profil.css')}}">{% endblock %}

{% block body %}
 
 <h1><strong>Vos notifications<strong></h1>

    <HR>
    <br>
    
    
    <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="{{ asset('/img/yg.jpg') }}" alt="" width="112px" height="150px" class="is-rounded">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Yamina Gherbi</strong> 
            a ajouté une nouvelle photo
            <button >X</button>
            </p>
          </div>
        </div>
      </article>
    </div>
      </div>

      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="{{ asset('/img/user.png') }}" alt="" width="112px" height="150px" class="is-rounded">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
                <strong>Louis Ardilly</strong>
                souhaite vous ajouter à sa liste d'ami(e)s.
                <button>X</button>
            </p>
          </div>
        </div>
      </article>
    </div>
      </div>

      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="{{ asset('/img/ygvb.jpg') }}" alt="" width="112px" height="150px" class="is-rounded">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
                <strong>Victoria Beckham</strong>
                a commenté votre photo.
                <button >X</button>
            </p>
          </div>
        </div>
      </article>
    </div>
      </div>

      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="{{ asset('/img/user.png') }}" alt="" width="112px" height="150px" class="is-rounded">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Hadil Friaa</strong> 
            a aimé votre photo.
            <button >X</button>
            </p>
          </div>
        </div>
      </article>
    </div>
      </div>

      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="{{ asset('/img/yg.jpg') }}" alt="" width="112px" height="150px" class="is-rounded">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Yamina Gherbi</strong> 
             a aimé votre commentaire
            <button >X</button>
            </p>
          </div>
        </div>
      </article>
    </div>
      </div>
      
     

    

      


{% endblock %}