{% extends 'base.html.twig' %} {% block title %} Profil {% endblock %} {% block stylesheets %}
<link rel="stylesheet" href="{{ asset('/css/profil.css')}}">{% endblock %} {% block body %}
<div>
    <img style="max-height: 200px; min-width: 100%" src="{{ asset('/img/voyage.webp') }}">
    <figure class="image is-96x96" style="position: absolute; left: 49%; top: 19%; ">
        <img src="{{ asset('/img/yg.jpg') }}" class="is-rounded">
    </figure>
    <p style="position: absolute; left: 49%; top: 35%;"><strong>Yamina Gherbi</strong></p>
</div>





<div class="columns">
    <div class="column">
        A propos de vous:

        <nav class="level is-mobile">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Publication</p>

                    <p class="title"> {{publi|length}}
                    </p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Abonnées</p>
                    <p class="title">123</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Abonnement</p>
                    <p class="title">10</p>
                </div>
            </div>

        </nav>

        <div class="content">
            <p>
                <strong>Bio:</strong>
                <br> Hello je suis yamina
            </p>
        </div>

        <nav class="level is-mobile">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Nombre de j'aime:</p>
                    <p class="title"></p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Nombre de publication:</p>
                    <p class="title">1</p>
                </div>
            </div>
        </nav>


        <div class="control">
            <center><button class="button is-warning">Ajouter</button></center>
        </div>
    </div>

    <div class="column">
        Publications:
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-64x64">
                        <img src="{{ asset('/imageUser/' ~ app.user.picture) }}" alt="" width="112px" height="150px" class="is-rounded">
                    </figure>
                </div>
                <div class="media-content" style="max-height: 550px; overflow: scroll">
                    <div class="content">
                        <p>
                            <strong>{{app.user.prenom}} {{app.user.nom}}</strong>
                            <br>
                        </p>
                    </div>
                    <div class="media-content">
                        <div class="field">
                            <p class="control">
                                {{form_start(PublicationForm)}} {{form_widget(PublicationForm.text)}}

                            </p>
                        </div>
                        <nav class="level">
                            <div class="level-left">
                                <div class="level-item">
                                    {{form_widget(PublicationForm.submit)}}
                                </div>
                            </div>
                            {{form_end(PublicationForm)}}
                        </nav>

                        {% for key, value in publi %}
                        <div class="box">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-64x64">
                                        <img src="{{ asset('/imageUser/' ~ app.user.picture) }}" alt="" width="112px" height="150px" class="is-rounded">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>{{value.user.prenom}} {{value.user.nom}}</strong><small style="font-size: 10px;">  il y a
                                                {% if time[key].y == 1 %}
                                                 {{time[key].y}} an 

                                                 {% elseif  time[key].y > 1 %}
                                                 {{time[key].y}} ans
                                                 {% elseif time[key].days > 31 and time[key].m < 12 %} 
                                                 {{time[key].m}} mois
                                                 {% elseif time[key].days < 31 and  time[key].days > 1 %}
                                                 {{time[key].d}} jours
                                                 {% elseif  time[key].h < 24 and  time[key].h > 0  %}
                                                 {{time[key].h}} heures
                                                 {% elseif  time[key].i < 60 and  time[key].i > 0  %}
                                                 {{time[key].i}} minutes
                                                 {% else %}
                                                 {{time[key].s}} secondes
                                                 
                                                 {% endif %} 

                                                
                                                </small>
                                            <br> {{value.text}}
                                        </p>
                                    </div>


                                    <nav class="level is-mobile">
                                        <div class="level-left">
                                            <a class="level-item" aria-label="reply">
                                                <span class="icon is-small">
              <i class="fas fa-reply" aria-hidden="true"></i>
            </span>
                                            </a>
                                            <a class="level-item" aria-label="retweet">
                                                <span class="icon is-small">
              <i class="fas fa-retweet" aria-hidden="true"></i>
            </span>
                                            </a>
                                            <a class="level-item" aria-label="like">
                                                <span class="icon is-small">
              <i class="fas fa-heart" aria-hidden="true"></i>
            </span>
                                            </a>
                                        </div>
                                    </nav>
                                </div>
                            </article>
                        </div>
                        {% endfor %}
                    </div>

                </div>

            </article>

            </nav>
        </div>
    </div>
    <div class="column">
        Photos:

        <figure class="image is-3by4">
            <img src="{{ asset('/img/ygvb.jpg') }}">
        </figure>

    </div>

</div>





{% endblock %}