{% extends 'base.html.twig' %}

{% block body %} 

<div class="container">
  <div style="margin-top: 10px; " class="columns is-mobile is-centered">
    <div class="column is-half" style="border: 1px solid rgb(226, 226, 226); margin-right: 10%; background-color: white; height: 260px;">
      <figure class="image is-32x32">
        <img class="is-rounded" src="http://static.debray-jerome.fr/49/images/slideshow/1.jpg" alt="1"/>
      </figure>
      <div class="field">
        <div class="control">
        <p><  ></p>
          <form action="">
          <textarea style="width: 40%;" class="textarea is-warning" placeholder="Ecrire une publication"></textarea>
          <button style="margin-top: 10px;" class="button is-warning navbar-end">Valider</button>
        </form>
        </div>
      </div>
    </div>
    <div  class="column" style="border: 1px solid  rgb(226, 226, 226); background-color: white; height: 350px; overflow: auto;">
      <h1 class="title is-4" style="text-align: center; color:#FFD494;">Amis connecté</h1>
      <div class="columns">
  <div class="column">
    <img src="{{ asset('/img/logo.png') }}" alt="" width="112px" height="150px">
  </div>
  <div class="column">
    pseudo
  </div>
  <div class="column">
    Third column
  </div>
</div>
<div class="columns">
  <div class="column">
    <img src="{{ asset('/img/logo.png') }}" alt="" width="112px" height="150px">
  </div>
  <div class="column">
    pseudo
  </div>
  <div class="column">
    Third column
  </div>
</div>
<div class="columns">
  <div class="column">
    <img src="{{ asset('/img/logo.png') }}" alt="" width="112px" height="150px">
  </div>
  <div class="column">
    pseudo
  </div>
  <div class="column">
    Third column
  </div>
</div>
<div class="columns">
  <div class="column">
    <img src="{{ asset('/img/logo.png') }}" alt="" width="112px" height="150px">
  </div>
  <div class="column">
    pseudo
  </div>
  <div class="column">
    Third column
  </div>
</div>
<div class="columns">
  <div class="column">
    <img src="{{ asset('/img/logo.png') }}" alt="" width="112px" height="150px">
  </div>
  <div class="column">
    pseudo
  </div>
  <div class="column">
    Third column
  </div>
</div>
<div class="columns">
  <div class="column">
    <img src="{{ asset('/img/logo.png') }}" alt="" width="112px" height="150px">
  </div>
  <div class="column">
    pseudo
  </div>
  <div class="column">
    Third column
  </div>
</div>
<div class="columns">
  <div class="column">
    <img src="{{ asset('/img/logo.png') }}" alt="" width="112px" height="150px">
  </div>
  <div class="column">
    pseudo
  </div>
  <div class="column">
    Third column
  </div>
</div>
<div class="columns">
  <div class="column">
    <img src="{{ asset('/img/logo.png') }}" alt="" width="112px" height="150px">
  </div>
  <div class="column">
    pseudo
  </div>
  <div class="column">
    Third column
  </div>
</div>
<div class="columns">
  <div class="column">
    <img src="{{ asset('/img/logo.png') }}" alt="" width="112px" height="150px">
  </div>
  <div class="column">
    pseudo
  </div>
  <div class="column">
    Third column
  </div>
</div>
<div class="columns">
  <div class="column">
    <img src="{{ asset('/img/logo.png') }}" alt="" width="112px" height="150px">
  </div>
  <div class="column">
    pseudo
  </div>
  <div class="column">
    Third column
  </div>
</div>
<div class="columns">
  <div class="column">
    <img src="{{ asset('/img/logo.png') }}" alt="" width="112px" height="150px">
  </div>
  <div class="column">
    pseudo
  </div>
  <div class="column">
    Third column
  </div>
</div>
<div class="columns">
  <div class="column">
    <img src="{{ asset('/img/logo.png') }}" alt="" width="112px" height="150px">
  </div>
  <div class="column">
    pseudo
  </div>
  <div class="column">
    Third column
  </div>
</div>
<div class="columns">
  <div class="column">
    <img src="{{ asset('/img/logo.png') }}" alt="" width="112px" height="150px">
  </div>
  <div class="column">
    pseudo
  </div>
  <div class="column">
    Third column
  </div>
</div>
<div class="columns">
  <div class="column">
    <img src="{{ asset('/img/logo.png') }}" alt="" width="112px" height="150px">
  </div>
  <div class="column">
    pseudo
  </div>
  <div class="column">
    Third column
  </div>
</div>
    </div>
  </div>
</div>

 {% endblock %}