{% extends 'base.html.twig' %}

{% block body %} 

<div class="container">
  <div style="margin-top: 10px; " class="columns is-mobile is-centered">
    <div class="column is-half" style="border: 1px solid rgb(226, 226, 226); margin-right: 10%; background-color: white; height: 220px;">
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="{{ asset('/img/aa.png') }}">
          </p>
        </figure>
        <div class="media-content">
          <div class="field">
            <p class="control">
              <textarea class="textarea" placeholder="Ajouter article..."></textarea>
            </p>
          </div>
          <nav class="level">
            <div class="level-left">
              <div class="level-item">
                
              </div>
            </div>
            <div class="level-right">
              <a class="button is-warning">Submit</a>
            </div>
          </nav>
        </div>
      </article>
    </div>
    <div class="column" style="border: 1px solid  rgb(226, 226, 226); background-color: white; height: 310px; overflow: auto;">
      <h1 class="title is-4" style="text-align: center; color:#FFD494;">Amis connecté</h1>
      <div class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading"></p>
            <p class="title">
              <figure class="image">
              <img src="{{ asset('/img/aa.png') }}" class="is-rounded">
            </figure>
          </p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading" style=" font-size: 15px;">Nom</p>
            <p class="title" style="color: rgb(196, 196, 196); font-size: 10px;">il y a 2h</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading" style="font-size: 20px;">Titre</p>
          </div>
        </div>
      </div>
      <div class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading"></p>
            <p class="title">
              <figure class="image">
              <img src="{{ asset('/img/aa.png') }}" class="is-rounded">
            </figure>
          </p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading" style=" font-size: 15px;">Nom</p>
            <p class="title" style="color: rgb(196, 196, 196); font-size: 10px;">il y a 2h</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading" style="font-size: 20px;">Titre</p>
          </div>
        </div>
      </div>
      <div class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading"></p>
            <p class="title">
              <figure class="image">
              <img src="{{ asset('/img/aa.png') }}" class="is-rounded">
            </figure>
          </p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading" style=" font-size: 15px;">Nom</p>
            <p class="title" style="color: rgb(196, 196, 196); font-size: 10px;">il y a 2h</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading" style="font-size: 20px;">Titre</p>
          </div>
        </div>
      </div><div class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading"></p>
            <p class="title">
              <figure class="image">
              <img src="{{ asset('/img/aa.png') }}" class="is-rounded">
            </figure>
          </p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading" style=" font-size: 15px;">Nom</p>
            <p class="title" style="color: rgb(196, 196, 196); font-size: 10px;">il y a 2h</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading" style="font-size: 20px;">Titre</p>
          </div>
        </div>
      </div>
      <div class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading"></p>
            <p class="title">
              <figure class="image">
              <img src="{{ asset('/img/aa.png') }}" class="is-rounded">
            </figure>
          </p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading" style=" font-size: 15px;">Nom</p>
            <p class="title" style="color: rgb(196, 196, 196); font-size: 10px;">il y a 2h</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading" style="font-size: 20px;">Titre</p>
          </div>
        </div>
      </div>
      <div class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading"></p>
            <p class="title">
              <figure class="image">
              <img src="{{ asset('/img/aa.png') }}" class="is-rounded">
            </figure>
          </p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading" style=" font-size: 15px;">Nom</p>
            <p class="title" style="color: rgb(196, 196, 196); font-size: 10px;">il y a 2h</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading" style="font-size: 20px;">Titre</p>
          </div>
        </div>
      </div>
      <div class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading"></p>
            <p class="title">
              <figure class="image">
              <img src="{{ asset('/img/aa.png') }}" class="is-rounded">
            </figure>
          </p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading" style=" font-size: 15px;">Nom</p>
            <p class="title" style="color: rgb(196, 196, 196); font-size: 10px;">il y a 2h</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading" style="font-size: 20px;">Titre</p>
          </div>
        </div>
      </div>
      <div class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading"></p>
            <p class="title">
              <figure class="image">
              <img src="{{ asset('/img/aa.png') }}" class="is-rounded">
            </figure>
          </p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading" style=" font-size: 15px;">Nom</p>
            <p class="title" style="color: rgb(196, 196, 196); font-size: 10px;">il y a 2h</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading" style="font-size: 20px;">Titre</p>
          </div>
        </div>
      </div>
    
    </div >
  </div>
  <div class="columns is-mobile is-centered" style="height: 280px;">
    <div class="column is-half" style="border: 1px solid rgb(226, 226, 226); margin-right: 10%; height: 420px;">
      <div class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading"></p>
            <p class="title">
              <figure class="image">
              <img src="{{ asset('/img/aa.png') }}" class="is-rounded">
            </figure>
          </p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading" style=" font-size: 15px;">Nom</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading" style="font-size: 20px;">2km</p>
          </div>
        </div>
      </div>
      <img src="{{ asset('/img/maca.jpg') }}" alt="" style="width: 100%; height: 300px">
    </div>
      <div class="column" style="border: 1px solid  rgb(226, 226, 226); background-color: white; height: 350px; overflow: auto; margin-top: 30px; height: 310px;">
        <h1 class="title is-4" style="text-align: center; color:#FFD494;">Proche de chez vous</h1>
        <div class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading"></p>
              <p class="title">
                <figure class="image">
                <img src="{{ asset('/img/aa.png') }}" class="is-rounded">
              </figure>
            </p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading" style=" font-size: 15px;">Nom</p>
              <p class="title" style="color: rgb(196, 196, 196); font-size: 10px;">il y a 2h</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading" style="font-size: 20px;">Titre</p>
            </div>
          </div>
        </div>
        <div class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading"></p>
              <p class="title">
                <figure class="image">
                <img src="{{ asset('/img/aa.png') }}" class="is-rounded">
              </figure>
            </p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading" style=" font-size: 15px;">Nom</p>
              <p class="title" style="color: rgb(196, 196, 196); font-size: 10px;">il y a 2h</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading" style="font-size: 20px;">Titre</p>
            </div>
          </div>
        </div>
        <div class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading"></p>
              <p class="title">
                <figure class="image">
                <img src="{{ asset('/img/aa.png') }}" class="is-rounded">
              </figure>
            </p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading" style=" font-size: 15px;">Nom</p>
              <p class="title" style="color: rgb(196, 196, 196); font-size: 10px;">il y a 2h</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading" style="font-size: 20px;">Titre</p>
            </div>
          </div>
        </div>
        <div class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading"></p>
              <p class="title">
                <figure class="image">
                <img src="{{ asset('/img/aa.png') }}" class="is-rounded">
              </figure>
            </p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading" style=" font-size: 15px;">Nom</p>
              <p class="title" style="color: rgb(196, 196, 196); font-size: 10px;">il y a 2h</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading" style="font-size: 20px;">Titre</p>
            </div>
          </div>
        </div>
        <div class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading"></p>
              <p class="title">
                <figure class="image">
                <img src="{{ asset('/img/aa.png') }}" class="is-rounded">
              </figure>
            </p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading" style=" font-size: 15px;">Nom</p>
              <p class="title" style="color: rgb(196, 196, 196); font-size: 10px;">il y a 2h</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading" style="font-size: 20px;">Titre</p>
            </div>
          </div>
        </div>
        <div class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading"></p>
              <p class="title">
                <figure class="image">
                <img src="{{ asset('/img/aa.png') }}" class="is-rounded">
              </figure>
            </p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading" style=" font-size: 15px;">Nom</p>
              <p class="title" style="color: rgb(196, 196, 196); font-size: 10px;">il y a 2h</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading" style="font-size: 20px;">Titre</p>
            </div>
          </div>
        </div>
        <div class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading"></p>
              <p class="title">
                <figure class="image">
                <img src="{{ asset('/img/aa.png') }}" class="is-rounded">
              </figure>
            </p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading" style=" font-size: 15px;">Nom</p>
              <p class="title" style="color: rgb(196, 196, 196); font-size: 10px;">il y a 2h</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading" style="font-size: 20px;">Titre</p>
            </div>
          </div>
        </div>
        <div class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading"></p>
              <p class="title">
                <figure class="image">
                <img src="{{ asset('/img/aa.png') }}" class="is-rounded">
              </figure>
            </p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading" style=" font-size: 15px;">Nom</p>
              <p class="title" style="color: rgb(196, 196, 196); font-size: 10px;">il y a 2h</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading" style="font-size: 20px;">Titre</p>
            </div>
          </div>
        </div>
    
    </div>
  </div>
</div>

<div>
  
</div>



 {% endblock %}