{% extends 'base.html.twig' %}
{% block title %} SearchFriends {% endblock %}

{% block body %}

<div class="container">
    <div class="columns" style="margin-top: 10px;">
        <div class="column is-half"
            style="border: 1px solid rgb(224, 224, 224); height: 90vh; margin-right: 5px; background-color: white; overflow: auto;">
            <h1 class="title is-3" style="text-align: center;">Resultat de votre recherche</h1>
            <div class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading"></p>
                        <p class="title">
                            <figure class="image">
                                <img src="{{ asset('/img/aa.png') }}" class="is-rounded">
                            </figure>
                        </p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading" style=" font-size: 15px;">Nom</p>
                        <p class="title" style="color: rgb(196, 196, 196); font-size: 10px;">suivi par
                            dbzoef,aeffhzig...</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading" style="font-size: 20px;"><button class="button is-warning"
                                type="submit">Ajouter</button></p>
                    </div>
                </div>
            </div>
            <div class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading"></p>
                        <p class="title">
                            <figure class="image">
                                <img src="{{ asset('/img/aa.png') }}" class="is-rounded">
                            </figure>
                        </p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading" style=" font-size: 15px;">Nom</p>
                        <p class="title" style="color: rgb(196, 196, 196); font-size: 10px;">suivi par
                            dbzoef,aeffhzig...</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading" style="font-size: 20px;"><button class="button is-warning"
                                type="submit">Ajouter</button></p>
                    </div>
                </div>
            </div>
            <div class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading"></p>
                        <p class="title">
                            <figure class="image">
                                <img src="{{ asset('/img/aa.png') }}" class="is-rounded">
                            </figure>
                        </p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading" style=" font-size: 15px;">Nom</p>
                        <p class="title" style="color: rgb(196, 196, 196); font-size: 10px;">suivi par
                            dbzoef,aeffhzig...</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading" style="font-size: 20px;"><button class="button is-warning"
                                type="submit">Ajouter</button></p>
                    </div>
                </div>
            </div>
            <div class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading"></p>
                        <p class="title">
                            <figure class="image">
                                <img src="{{ asset('/img/aa.png') }}" class="is-rounded">
                            </figure>
                        </p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading" style=" font-size: 15px;">Nom</p>
                        <p class="title" style="color: rgb(196, 196, 196); font-size: 10px;">suivi par
                            dbzoef,aeffhzig...</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading" style="font-size: 20px;"><button class="button is-warning"
                                type="submit">Ajouter</button></p>
                    </div>
                </div>
            </div>
            <div class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading"></p>
                        <p class="title">
                            <figure class="image">
                                <img src="{{ asset('/img/aa.png') }}" class="is-rounded">
                            </figure>
                        </p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading" style=" font-size: 15px;">Nom</p>
                        <p class="title" style="color: rgb(196, 196, 196); font-size: 10px;">suivi par
                            dbzoef,aeffhzig...</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading" style="font-size: 20px;"><button class="button is-warning"
                                type="submit">Ajouter</button></p>
                    </div>
                </div>
            </div>
            <div class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading"></p>
                        <p class="title">
                            <figure class="image">
                                <img src="{{ asset('/img/aa.png') }}" class="is-rounded">
                            </figure>
                        </p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading" style=" font-size: 15px;">Nom</p>
                        <p class="title" style="color: rgb(196, 196, 196); font-size: 10px;">suivi par
                            dbzoef,aeffhzig...</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading" style="font-size: 20px;"><button class="button is-warning"
                                type="submit">Ajouter</button></p>
                    </div>
                </div>
            </div>

            <div class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading"></p>
                        <p class="title">
                            <figure class="image">
                                <img src="{{ asset('/img/aa.png') }}" class="is-rounded">
                            </figure>
                        </p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading" style=" font-size: 15px;">Nom</p>
                        <p class="title" style="color: rgb(196, 196, 196); font-size: 10px;">suivi par
                            dbzoef,aeffhzig...</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading" style="font-size: 20px;"><button class="button is-warning"
                                type="submit">Ajouter</button></p>
                    </div>
                </div>
            </div>
            <div class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading"></p>
                        <p class="title">
                            <figure class="image">
                                <img src="{{ asset('/img/aa.png') }}" class="is-rounded">
                            </figure>
                        </p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading" style=" font-size: 15px;">Nom</p>
                        <p class="title" style="color: rgb(196, 196, 196); font-size: 10px;">suivi par
                            dbzoef,aeffhzig...</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading" style="font-size: 20px;"><button class="button is-warning"
                                type="submit">Ajouter</button></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-half"
            style="border: 1px solid rgb(224, 224, 224); height: 90vh; margin-left: 5px; background-color: white; overflow: auto;">
            <h1 class="title is-3" style="text-align: center;">Près de chez vous</h1>
            <div class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading"></p>
                        <p class="title">
                            <figure class="image">
                                <img src="{{ asset('/img/aa.png') }}" class="is-rounded">
                            </figure>
                        </p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading" style=" font-size: 15px;">Nom</p>
                        <p class="title" style="color: rgb(196, 196, 196); font-size: 10px;">suivi par
                            dbzoef,aeffhzig...</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading" style="font-size: 20px;"><button class="button is-danger"
                                type="submit">Ajouter</button></p>
                    </div>
                </div>
            </div>
            <div class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading"></p>
                        <p class="title">
                            <figure class="image">
                                <img src="{{ asset('/img/aa.png') }}" class="is-rounded">
                            </figure>
                        </p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading" style=" font-size: 15px;">Nom</p>
                        <p class="title" style="color: rgb(196, 196, 196); font-size: 10px;">suivi par
                            dbzoef,aeffhzig...</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading" style="font-size: 20px;"><button class="button is-danger"
                                type="submit">Ajouter</button></p>
                    </div>
                </div>
            </div>
            <div class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading"></p>
                        <p class="title">
                            <figure class="image">
                                <img src="{{ asset('/img/aa.png') }}" class="is-rounded">
                            </figure>
                        </p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading" style=" font-size: 15px;">Nom</p>
                        <p class="title" style="color: rgb(196, 196, 196); font-size: 10px;">suivi par
                            dbzoef,aeffhzig...</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading" style="font-size: 20px;"><button class="button is-danger"
                                type="submit">Ajouter</button></p>
                    </div>
                </div>
            </div>
            <div class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading"></p>
                        <p class="title">
                            <figure class="image">
                                <img src="{{ asset('/img/aa.png') }}" class="is-rounded">
                            </figure>
                        </p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading" style=" font-size: 15px;">Nom</p>
                        <p class="title" style="color: rgb(196, 196, 196); font-size: 10px;">suivi par
                            dbzoef,aeffhzig...</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading" style="font-size: 20px;"><button class="button is-danger"
                                type="submit">Ajouter</button></p>
                    </div>
                </div>
            </div>
            <div class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading"></p>
                        <p class="title">
                            <figure class="image">
                                <img src="{{ asset('/img/aa.png') }}" class="is-rounded">
                            </figure>
                        </p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading" style=" font-size: 15px;">Nom</p>
                        <p class="title" style="color: rgb(196, 196, 196); font-size: 10px;">suivi par
                            dbzoef,aeffhzig...</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading" style="font-size: 20px;"><button class="button is-danger"
                                type="submit">Ajouter</button></p>
                    </div>
                </div>
            </div>
            <div class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading"></p>
                        <p class="title">
                            <figure class="image">
                                <img src="{{ asset('/img/aa.png') }}" class="is-rounded">
                            </figure>
                        </p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading" style=" font-size: 15px;">Nom</p>
                        <p class="title" style="color: rgb(196, 196, 196); font-size: 10px;">suivi par
                            dbzoef,aeffhzig...</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading" style="font-size: 20px;"><button class="button is-danger"
                                type="submit">Ajouter</button></p>
                    </div>
                </div>
            </div>
            <div class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading"></p>
                        <p class="title">
                            <figure class="image">
                                <img src="{{ asset('/img/aa.png') }}" class="is-rounded">
                            </figure>
                        </p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading" style=" font-size: 15px;">Nom</p>
                        <p class="title" style="color: rgb(196, 196, 196); font-size: 10px;">suivi par
                            dbzoef,aeffhzig...</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading" style="font-size: 20px;"><button class="button is-danger"
                                type="submit">Ajouter</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}